# Rust
/target/
**/target/

# Python
**/__pycache__/
*.pyc

# Local env files
.env
.env.*

# Generated data/artifacts
benchmark_output/

# Local data folders
**/data/

# Build helpers
/wheels/
moorcheh-edge
moorcheh-edge-client
moorcheh.egg-info
dist