# Rust
/target/
**/target/

# Python
**/__pycache__/
*.pyc

# Local env files
.env
.env.*

# Generated data/artifacts
benchmark_output/

# Local data folders
**/data/

# Build helpers
/wheels/

moorcheh_client.egg-info
moorcheh.egg-info
moorcheh/_version.py
dist